
node_modules
colposcopia-react/public/studies/temp/*.jpeg
colposcopia-react/public/img/icons-1.8.1/*
colposcopia-react/prisma/dev.db
colposcopia-react/prisma/dev.db-journal
colposcopia-react/.env
colposcopia-react/public/img/slide/*.jpeg
.vscode/settings.json
colposcopia-react/src/lib/db.js
colposcopia-react/src/reportWebVitals.js
colposcopia-react/src/setupTests.js
colposcopia-react/public/studies/patient/*.jpeg
colposcopia-react/dist
colposcopia-react/build

